<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <mat-card style="background-color: #cfd8dc">
        <div class="bootstrap-wrapper mt-4">
            <div class="container-fluid">
                <div class="row ">


                    <div class="col-md text-center" id="users">
                        <mat-card style="background-color: #b0bec5">
                            <img src="../../../../assets/img/users.png" height="200px"
                                style="border-radius: 50%; border-style: solid;"><br>
                            <span style="color: orangered;">
                                <h1><b>All USERS</b></h1>
                                <h2>{{users}}</h2>
                            </span>
                        </mat-card>
                    </div>


                    <div class="col-md text-center">
                        <mat-card style="background-color: #b0bec5">
                            <img src="../../../../assets/img/folders.png" height="200px"><br>
                            <samp style="color: #651fff">
                                <h1><b>All Categoties</b></h1>
                                <h2> {{cat}}</h2>
                            </samp>
                        </mat-card>
                    </div>

                    <div class="w-100"></div>
                    <div class="col-md text-center mt-4">
                        <mat-card style="background-color: #b0bec5">
                            <img src="../../../../assets/img/all quiz.png" height="200px"><br>
                            <samp style="color:#004d40">
                                <h1><b>All Quiz</b></h1>
                                <h2> {{quiz}}</h2>
                            </samp>
                        </mat-card>
                    </div>

                    <div class="col-md text-center mt-4">
                        <mat-card style="background-color: #b0bec5">
                            <img src="../../../../assets/img/question.png" height="200px"><br>
                            <span style="color: #3e2723">
                                <h1><b>All Questions</b></h1>
                                <h2> {{questions}}</h2>
                            </span>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>


</body>

</html>