<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="bootstrap-wrapper">
        <div class="container-fluid" >
            <p>Welcome to <mat-icon style="font-size: 30px;">psychology</mat-icon> Quiz-World<br><a>Test your Knowledge</a></p>

           <div class="container text-center">
      
 
           </div>
        </div>

    </div>

    
</body>

</html>
<app-footer></app-footer>