/* body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../../assets/img/background.jpg');
    height: 100vh;
    background-size: cover;
	background-position: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&family=Karla:wght@500&family=Nunito:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../../assets/img/background.jpg');
     height: 100vh;
    background-size: cover;
	background-position: center;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
  }
  
  p {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-family: 'Karla', sans-serif;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, gold, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
  
 












