<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="container text-center pt-4">
        <img src="../../../assets/img/quizLogo.png">
        <h1 class="mt-4">About quiz-world</h1>
    </div>
    
    <div class="container mt-4">
        <mat-card>
            <p>the quiz world is a free online exam portal, that’s easy to learn, understand, and use. this portal is all about
                providing practice to the user. quiz world portal is many categories to choose to use and start the exam.
                Everything that happens in our dashboard is easy to grasp quickly. in the user portal is a search engine
                available for searching favorite category. after the given exam, you have seen the result and result history.
                please register and log in and give the exam. <b>All the best </b>!!!</p>
        </mat-card>
     </div>
                 <div class="container mt-4 text-center" >
                    <div class="row">
                        <div class="col-md-4">
                            
                        </div>
                        <div class="col-md-4 text-center" >
                      <mat-card class="gmail">
                         <img src="../../../assets/img/gmail.png" alt="gmail" height="50px"> &nbsp; &nbsp;<b>awankar197@gmail.com</b>
                      </mat-card>
                        </div>
                        <div class="col-md-4">
                           
                        </div>
                    </div>
                 </div>

</body>
</html>
<app-footer></app-footer>