<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>






    <div class="container-fluid text-center" id="page-title">
        <h1>Exam History</h1>


        <button mat-fab color="accent" routerLink="/userDashboard/0">
            <mat-icon>home</mat-icon>
        </button>

    </div>

    <!-- search box  -->
    <div class="row mt-4 w-100">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label style="color: yellowgreen;">Search...</mat-label>
                <input matInput placeholder="search by Title or Total Marks" [(ngModel)]="historySearch"
                    (ngModelChange)="search()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- search box end  -->

    <div *ngIf="!historyEmpety">

        <div class="container" *ngFor="let obj of userResults | paginate: { itemsPerPage: 4, currentPage: p }">
            <mat-card class="mt-4" style="overflow-x:auto;">
                <div class="row">
                    <div class="col-md-4">
                        <mat-card-title>Quiz Name: <span id="element-text">{{obj.title}}</span> </mat-card-title>
                    </div>
                    <div class="col-md-4">
                        <mat-card-title>Quiz given Date:&nbsp;<span id="element-text">{{obj.examDate | date:
                                'dd-MM-yyyy'}}</span></mat-card-title>
                    </div>
                    <div class="col-md-4">
                        <mat-card-title>Quiz Given Time :<span id="element-text">{{obj.examDate | date:'h:MM:ss ,
                                a'}}</span></mat-card-title>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="text-center" style="color: chocolate;">
                        Result
                    </div>
                    <table class="table table-bordered ">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Total Marks</th>
                                <th scope="col">Marks You Got</th>
                                <th scope="col">Correct Answer</th>
                                <th scope="col">Attempt Questions</th>
                                <th scope="col">your percentage</th>
                                <th scope="col">Your Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>
                                    <h2>{{obj.totalMarks}}</h2>
                                </td>
                                <td>
                                    <h2>{{obj.marksGot}}</h2>
                                </td>
                                <td>
                                    <h2>{{obj.correctAns}}</h2>
                                </td>
                                <td>
                                    <h2>{{obj.attempt}}</h2>
                                </td>
                                <td>
                                    <h2>{{obj.percentage}}%</h2>
                                </td>
                                <td>
                                    <h2><b>{{obj.grade}}</b></h2>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


                <mat-card-actions class="text-center">
                    <button mat-fab color="warn" (click)="deleteResult(obj.rid)">
                        <mat-icon>delete</mat-icon>
                    </button>

                </mat-card-actions>




            </mat-card>



        </div>
        <div class="container float-right mt-4">
            <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true" class="float-right"
                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"></pagination-controls>
        </div>
    </div>

    <!-- if  history empty -->
    <div class="container text-center" *ngIf="historyEmpety" style="margin-top: 50px; text-transform: capitalize;">
        <mat-card class="mat-card2">
            <img src="../../../../assets/img/empty-box.png" alt="" height="180px">
            <mat-card-title>your exam history is empty</mat-card-title>
        </mat-card>
    </div>










</body>

</html>


<div>
    <app-footer></app-footer>
</div>